body{
    background-color: black;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
}
div{
    width: 50%;
    margin-left: 25%;
    margin-top: 220px;
    color: white;
    font-family:"Oswald", sans-serif ;
    text-align: center;
}
img{
    border: 5px solid white;
    width: 100%;
}